<div class="wrapper">
    <form [formGroup]="signInForm" (ngSubmit)="onsubmit()">
        <div>
            <h1>login</h1>
            <div class="input-box">
                <input type="text" formControlName="username" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" formControlName="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>

            <button type="submit" class="btn">Submit</button>

            <div class="register-link">
                <p>Don't have an account?
                    <a class="link-button" (click)="navigateToSignUp()">Register</a>
                </p>
            </div>            
        </div>
    </form>
</div>
